.main-nav {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

.main-nav__toggle {
  position: absolute;
  top: -50px;
  right: 30px;
  width: 22px;
  height: 22px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: @black;
    box-shadow: 0 6px 0 0 @black, 0 12px 0 0 @black;
    cursor: pointer;
  }

  &:hover::before,
  &:hover::after,
  &:focus::before,
  &:focus::after {
    opacity: 0.6;
  }

  &:active::before,
  &:active::after {
    opacity: 0.3;
  }
}

.main-nav__toggle--close {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 28px;
    height: 2px;
    margin-top: -1px;
    margin-left: -14px;
    background-color: @black;
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__link {
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 75px;
  font-size: 17px;
  line-height: 24px;
  color: @black;
  border-bottom: 1px solid @color-border;
  background-color: @white;

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: @mobile-width-only) {
  .main-nav {
    position: absolute;
    top: 80px;
    z-index: 10;
  }

  .main-nav--close .main-nav__link {
    display: none;

    &:active {
      display: block;
    }
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}
