.product-card {
  box-sizing: border-box;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 30px;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.product-card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 28px;
  border: 1px solid @color-border;
}

.product-card__desc {
  padding-top: 27px;
  margin-bottom: 5px;
}

.product-card__title {
  display: block;
  margin-bottom: 5px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: @black;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product-card__img {
  display: block;
  width: 260px;
  height: 195px;
  background-color: #f1f1f1;
}

.product-card__img img {
  display: block;
}

.product-card__property {
  margin: 0;
  margin-bottom: 18px;
  font-size: 13px;
}

.product-card__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 28px;
  border-top: 1px solid @color-border;
}

.product-card__price-text {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}

.product-card__icon {
  fill: fade(@color-text, 20%);
}

.product-card__basket:hover .product-card__icon,
.product-card__basket:focus .product-card__icon {
  fill: @aqua-light;
}

.product-card__basket:active .product-card__icon {
  fill: fade(@aqua-light, 30%);
}

@media (min-width: @tablet-width) {
  .product-card {
    display: flex;
    width: 668px;
    margin-bottom: 54px;
  }

  .product-card__img {
    width: 334px;
    height: 334px;
  }

  .product-card__info {
    width: 333px;
    padding: 0 25px;
  }

  .product-card__desc {
    padding-top: 25px;
  }

  .product-card__title {
    margin-bottom: 7px;
    font-size: 20px;
  }

  .product-card__property {
    margin-bottom: 15px;
    font-size: 15px;
  }

  .product-card__price {
    padding-top: 22px;
    padding-right: 10px;
    padding-bottom: 25px;
    padding-left: 6px;
    margin-top: auto;
  }

  .product-card__price-text {
    font-size: 17px;
  }
}

@media (min-width: @desktop-width) {
  .product-card {
    flex-direction: column;
    width: 316px;
    margin: 0;
    margin-right: 50px;
    margin-bottom: 55px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .product-card__img {
    width: 316px;
    height: 462px;
  }

  .product-card__info {
    flex-grow: 2;
    width: 100%;
    padding: 0 28px;
  }

  .product-card__desc {
    min-height: 95px;
  }

  .product-card__price {
    padding-top: 20px;
    padding-right: 5px;
    padding-bottom: 28px;
    padding-left: 0;
  }
}
