.reviews {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 75px;
}

.reviews__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.reviews__title {
  margin: 0;
  margin-bottom: 23px;
  font-size: 25px;
  line-height: 30px;
  color: @black;
}

.reviews__item {
  margin: 0;
  margin-bottom: 30px;
  line-height: 30px;
}

.reviews__author {
  display: block;
  padding-top: 25px;
  font-size: 17px;
  font-weight: bold;
  color: @black;
}

.reviews__hashtag {
  font-size: 17px;
}

.reviews__toggle {
  display: flex;
  width: 100%;
  height: 50px;
  margin-bottom: 40px;
}

.reviews__control {
  position: relative;
  width: 50%;
  padding: 0;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  cursor: pointer;
  background: transparent;
  border: 1px solid @color-border;
  outline: none;

  &:first-of-type {
    border-right: none;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: @white url("../img/icon-left-arrow.svg") no-repeat center;
    content: "";
  }

  &--next::after {
    background-image: url("../img/icon-right-arrow.svg");
  }

  &:hover::after,
  &:focus::after {
    opacity: 0.6;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.feedback__btn {
  width: 100%;
}

